<link rel="stylesheet" href="/css/signUp.css">
<div class="signup">
    <h1>Sign Up</h1>
    <form action="/users/create" method="POST">
        <div class="user-box">
            <input type="text" name="name" id="username" required>
            <label>Name</label>
        </div>
        <div class="user-box">
            <input type="email" name="email" id="email" required>
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="password" name="password" id="password" required>
            <label>Password</label>
        </div>
        <div class="user-box">
            <input type="password" name="confirm_password" id="confirm_password" required>
            <label>Confirm Password</label>
        </div>
        <input type="hidden" name="permission" value="employee">

        <div class="user-box">
            <a href="#">
                <input type="submit" value="Sign Up">
            </a>
        </div>
        <% if(!locals.user){%>
            <p>Already have an Account <a href="/users/signin"> Sign In</a></p>
        <%}%>
        
    </form>

</div>