.signup {
  text-align: left;
  margin: auto;
  margin-top: 5%;
  left: 50%;
  width: 30%;
  height: auto;
  padding: 20px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px; 
  box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
}
.signup h1 {
  text-align: center;
  letter-spacing: 1px;
  padding-top: 4%;
  color: #224957;
}
.signup input {
  width: 100%;
  height: 40px;
  margin: 1px 0px 10px 0px;
}
.signup .user-box {
  position: relative; 
}
.signup .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  letter-spacing: 1px;
  color: #224957;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #224957;
  outline: none;
  background: transparent; 
}
.signup .user-box input:focus ~ label, .signup .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #224957;
  font-size: 12px; 
}
.signup .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  letter-spacing: 1px;
  font-size: 16px;
  color: #224957;
  pointer-events: none;
  transition: .5s; 
}
.signup .user-box input[type="submit"] {
  color: #fff;
  font-size: 18px;
  padding: 0.75rem 0;
  transition: all .3s ease-in-out;
  width: 100%;
  height: 60px;
  letter-spacing: 1px;
  background: #224957;
  border: 1px solid #224957;
  border-radius: 6px;
}
.signup .user-box input[type="submit"]:hover {
  color: #224957;
  background: #fff;
  cursor: pointer;
}
.signup p {
  font-size: 16px;
  letter-spacing: 1px;
}
.signup p a {
  color: #224957;
  text-decoration: none;
  letter-spacing: 1px;
}
.signup p a:hover {
  text-decoration: underline;
  cursor: pointer;
}
